*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@font-face {
	font-family: "Playfair Display";
	src: local('../fonts/PlayfairDisplay-Regular'), url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Ubuntu";
	src: local('../fonts/Ubuntu-Light'), url('../fonts/Ubuntu-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
body{
	font-family: "Playfair Display";
}
.cover{
	max-width: 1200px;
	margin: 70px auto;
}
.block{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin: 0 70px;
}
.image{
	height: 23px;
}
.list{
	width: 575px;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	line-height: 24px;
	color: #626262;
	font-weight: 400;
}
.image1{
	max-width: 100%;
	display: flex;
	height: 650px;
	margin: 0 auto;
}
.cover1{
	max-width: 1200px;
	margin: 0 auto;
}
.block1{
	width: 900px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.font{
	font-size: 14px;
	color: #b4ad9e;
	font-weight: 300;
	font-family: "Ubuntu";
	margin-top: 30px; 
}
.font1{
	font-size: 30px;
	color: #626262;
	font-weight: 400;
	margin: 30px 0 35px 0;
}
.font2{
	font-size: 14px;
	line-height: 24px;
	color: #626262;
	font-weight: 400;
	margin-bottom: 52px;
}
.block2{
	max-width: 900px;
	margin: 120px auto;
}
.container{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -30px; 
}
.columns_column{
	flex: 0 1 50%;
	padding: 0px 30px;
}
.column_item{
	display: flex;
	flex-direction: column;
}
.item_image{
	flex: 0 0 300px;
}
.item_body{
	flex: 1 1 auto;
}
.block4{
	width: 900px;
	display: flex;
	flex-direction: column;
	margin: 130px auto;
}
.block_item{
	height: 630px;
	display: flex;
	justify-content: space-between;
}
.left{
	width: 420px;
	height: 300px;
	margin-right: 70px; 
}
.right{
	width: 420px;
	height: 300px;
}
.wrapper{
	max-width: 1200px;
	margin: 45px auto;
}
.block3{
	width: 100%;
	display: flex;
	background-color: #f0f0f0;
	flex-direction: column;
}
.block_item1{
	max-width: 400px;
	display: flex;
	padding-top: 80px;
	margin: 0 auto;
}
.font3{
	font-size: 30px;
	letter-spacing: 1px;
	color: #333333;
	font-weight: 400;
}
.block_item2{
	max-width: 400px;
	margin: 70px auto;
	display: flex;
	border-bottom: 1px solid black;
	padding-bottom: 15px;
	align-items: center;
}
.form{
	max-width: 170px;
	font-size: 14px;
	line-height: 24px;
	color: #626262;
	font-weight: 400;
	background-color: #f0f0f0;
}
.button{
	max-width: 50px;
	height: 15px;
	margin: 0 0 0 160px;
	
}
.block5{
	display: flex;
	justify-content: center;
	margin: 160px 0 130px 0px;
}
.block_button{
	max-width: 165px;
	border: 1px solid #161616; 
	line-height: 24px;
	color: #626262;
	font-size: 20px;
	font-weight: 400;
	padding: 20px 35px;
	text-align: center;
}  
.color1{
	color: #626262;
}
.cover2{
	max-width: 1200px;
	margin: 45px auto;
	background-color: #f0f0f0;
}
.wrapper1{
	justify-content: space-around;
	display: flex;
	padding: 40px 0;
	align-items: baseline;
}
.block6{
	width: 200px;
	display: flex;
	justify-content: space-between;
}
.list1{
	width: 140px;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	line-height: 24px;
	color: #626262;
	font-weight: 400;
}
.text{
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	font-weight: 400;
}
a, .color {
	padding: 2px;
	color: #626262;
}
a:visited {
	color: #626262;
} 
a:hover {
	text-decoration: none;
	color: #fff;  
	background: #e24486;
}
h4, .list { 
	text-transform: uppercase;
}
.color2{
	color: #b4ad9e;
}
